@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sales Web MVC App from C# Course</h1>
    <p>E-mail: @ViewData["Email"]</p>
</div>

<address>
    <strong>More information:</strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>
