@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna metus, accumsan et blandit ut, feugiat eu dui. Praesent a felis vitae nisi rutrum vehicula et quis urna.</p>
